html, body{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-spacing: 0;
    all-space-treatment: 0;
}

.piece{
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;

}
h1#score{
    opacity: 60;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 72pt;

}