html, body{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-spacing: 0;
    all-space-treatment: 0;
}

.piece{
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;


}
#head{
    background-image: url("snakeHead.png");
}

h1#score{
    opacity: 60;
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-size: 72pt;
    margin: 0;


}

div.menu{
    position: absolute;
    background: lightgray;
    border: solid black 3px;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    font-family: "Comic Sans MS",fantasy;

}
div.button{
    border: solid black 2px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: auto;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    cursor: pointer;
    

}
div#Scoreboard{
    height: 450px;
}
table, th, td{
    border: solid black 1px;
    border-collapse: collapse;
}