html, body {
    width: auto;
    height: auto;
    font-family: "Comic Sans MS", serif;
}

body {
    background-image: url("bilder/grayBack.jpg");
}

div#wrapper {
    margin: auto;
    height: 90%;
    width: 70%;
    background-color: lightgray;
    border-radius: 25px;
    padding: 20px;
    border: 2px black solid;
}

span.bar {
    height: 20px;
    background-color: blue;
    display: inline-block;
}

img#landskap {
    z-index: -1;
}

img#mast, img#foiler, img#bjork, img.blad {
    position: absolute;
    z-index: 1;
}

img#foiler {
    /*en variabel for å definere hastigheten til vindmølla*/
    --spinTime: -2s;

    /*animasjoner for alle nettlesere*/
    -webkit-animation: spin var(--spinTime) linear infinite;
    -moz-animation: spin var(--spinTime) linear infinite;
    animation: spin var(--spinTime) linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

img#bjork {
    /*variabler*/
    --wobbleTime: -1s;
    --wobbleDegreesPossitive: 1deg;
    --wobbleDegreesNegative: -1deg;

    /*animasjoner for alle nettlesere*/
    -webkit-animation: wobble var(--wobbleTime) linear infinite;
    -moz-animation: wobble var(--wobbleTime) linear infinite;
    animation: wobble var(--wobbleTime) linear infinite;
    transform-origin: bottom center;
}

@-moz-keyframes wobble {
    25% {
        -moz-transform: rotate(var(--wobbleDegreesNegative));
    }
    75% {
        -moz-transform: rotate(var(--wobbleDegreesPossitive));
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes wobble {
    25% {
        -webkit-transform: rotate(var(--wobbleDegreesNegative));
    }
    75% {
        -webkit-transform: rotate(var(--wobbleDegreesPossitive));
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes wobble {
    25% {
        -webkit-transform: rotate(var(--wobbleDegreesNegative));
        transform: rotate(var(--wobbleDegreesNegative));
    }
    75% {
        -webkit-transform: rotate(var(--wobbleDegreesPossitive));
        transform: rotate(var(--wobbleDegreesPossitive));
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.blad {
    --bladTime : 1s;
    visibility: hidden;
    position: relative;
    -webkit-animation: floatBubble var(--bladTime) infinite ease-in;
    -webkit-transition-timing-function: ease-in-out;
    animation: floatBubble var(--bladTime) infinite linear;

}

@-webkit-keyframes floatBubble {
    25% {
        transform: translate(125px, 30px) rotate(360deg);
    }
    50% {
        transform: translate(250px, -30px) rotate(720deg);
    }
    75% {
        transform: translate(375px, 30px) rotate(1080deg);
        opacity: 0.8;
    }
    100% {
        transform: translate(500px, -30px) rotate(1440deg);
        opacity: 0;
    }
}

@keyframes floatBubble {
    25% {
        transform: translate(125px, 30px) rotate(360deg);
    }
    50% {
        transform: translate(250px, -30px) rotate(720deg);
    }
    75% {
        transform: translate(375px, 30px) rotate(1080deg);
        opacity: 0.8;
    }
    100% {
        transform: translate(500px, -30px) rotate(1440deg);
        opacity: 0;
    }
}
