html, body {
    width: auto;
    height: auto;
    font-family: "Comic Sans MS", serif;
}

body {
    background-image: url("http://xn--krk-ula.com/grayBack.jpg");
}

div#wrapper {
    margin: auto;
    height: 90%;
    width: 70%;
    background-color: lightgray;
    border-radius: 25px;
    padding: 20px;
    border: 2px black solid;
}
span.bar {
    height: 20px;
    background-color: blue;
    display: inline-block;
}

table, td, th {
    border: solid black 1px;
    border-spacing: 0;
}
.orange{
    color: orangered;
}
.yellow{
    color: rgba(230, 149, 0, 0.72);
}
.green{
    color: darkolivegreen;
}