html, body {
    overflow: hidden;
    font-family: "Comic Sans MS", serif;
    border-spacing: 0;
    paddding: 0;
    margin: 0;
    all-space-treatment: 0;
}

img#rekkert{
    position: absolute;
    left: 98%;
}
img#ball{
    position: absolute;
    border-radius: 100%;
}
div#bakgrunn{
    width: 100%;
    height: 100%;
    background: white;
    border: solid white 2px;
}